.button-wrapper {
  cursor: pointer;
  background-color: var(--white);
  color: var(--bg-black);
  font-size: 24px;
  font-weight: 700;
  padding: 20px 65px;
  border-radius: 40px;
  width: max-content;

}

@media all and (max-width:767) {
  .button-wrapper {
    font-size: 16px;
      padding: 14px 20px;
      font-weight: 600;
  }
}